<nav class="navbar navbar-expand-md navbar-dark bg-dark ">
  <div class="container">
    <a class="navbar-brand" href="#">BancoMelo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Servicios Cliente</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" data-toggle="modal" href="#Scredit" (click)="resetForm(frms); seEncuentraCedulaSolicitud=true; 
            seEncuentraSalario=true; this.model2.Cedula=this.cedLastUserReg; llave=false; llave2=true">Solicitar Crédito</a>

            <a class="dropdown-item" style="cursor:pointer "  data-toggle="modal" data-target="#Lcredit" (click)="resetForm(formcre); seEncuentraCedulaCredito=true">Créditos aprobados</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <div class="container">

          <button type="button" class="btn btn-primary my-2 my-sm-0" data-toggle="modal" data-target="#registro" 
          (click)="resetForm(frm); seEncuetraCedula=false; seEncuetraUsuario=false; llave2=false" sid="register">Registrarse </button>
          <!-- <button class="btn btn-primary my-2 my-sm-0" type="button" data-toggle="modal" data-target="#login">Iniciar Sesión</button> -->
        </div>
      </form>
    </div>
  </div>
</nav>

<div class="modal fade" id="registro" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">

        <img class="mb-4" src="assets/imagenes/crear.png" alt="">
      </div>
      <div class="modal-body">
        <form #frm="ngForm" (submit)="addUser()">
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Nombre:
            </label>
            <input type="text" name="name" class="form-control" #nameUser="ngModel" ngModel required id="nombre" placeholder="Ingrese Nombre"
              pattern="[A-Za-zñÑáéíóúÁÉÍÓÚ ]*" title="Solo debe ingresar letras" maxlength="30" [(ngModel)]="model.Nombre" >
            <p id="Nombre"></p>
          </div>

          <div *ngIf="nameUser?.touched">
            <div *ngIf="nameUser.errors?.required" class="alert alert-danger"> Este campo es requerido</div>
          </div>

          <div *ngIf="nameUser?.dirty">

            <div *ngIf="nameUser.errors?.pattern" class="alert alert-danger">

              Nombre no válido. Ingrese solo letras
            </div>
          </div>

          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Apellido:
            </label>
            <input type="text" name="lastname" class="form-control" #lastnameUser="ngModel" ngModel required id="apellido" placeholder="Ingrese Apellido"
              pattern="[A-Za-zñÑáéíóúÁÉÍÓÚ ]*" title="Solo debe ingresar letras" maxlength="30" [(ngModel)]="model.Apellido">
            <p id="Apellido"></p>
          </div>

          <div *ngIf="lastnameUser?.touched">
            <div *ngIf="lastnameUser.errors?.required" class="alert alert-danger"> Este campo es requerido</div>
          </div>

          <div *ngIf="lastnameUser?.dirty">

            <div *ngIf="lastnameUser.errors?.pattern" class="alert alert-danger">

              Apellido no válido. Ingrese solo letras
            </div>
          </div>

          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Cédula
            </label>

            <input type="text" name="cedula" class="form-control" #cedUser="ngModel" ngModel required id="cedula" placeholder="Ingrese Cédula"
              pattern="[0-9]*" title="Solo debe ingresar números" (click)="seEncuetraCedula=false" (blur)="verificarCedulaCliente()"
              maxlength="12" minlength="6" [(ngModel)]="model.Cedula">

            <p id="cedula"></p>
          </div>

          <div *ngIf="seEncuetraCedula" class="alert alert-danger">
            Esta cédula ya se encuentra registrada en el sistema
          </div>

          <div *ngIf="cedUser?.touched">
            <div *ngIf="cedUser.errors?.required" class="alert alert-danger"> Este campo es requerido</div>
          </div>

          <div *ngIf="cedUser?.dirty">
            <div *ngIf="cedUser.errors?.pattern" class="alert alert-danger">
              Cédula no válida. Ingrese solo números
            </div>

            <div *ngIf="!cedUser.errors?.pattern && !cedUser.errors?.required && cedUser.errors?.minlength" class="alert alert-warning">
              Ingrese su cédula completa
            </div>
          </div>
          <!-- 
            <div class="form-group">
              <label for="recipient-name" class="form-control-label">Usuario:
              </label>
              <input type="text" class="form-control" #userUser="ngModel" ngModel id="crearUsuario" placeholder="Ingrese Usuario" name="client"
                required pattern="[0-9a-zñÑ]*" (click)="seEncuetraUsuario=false" (blur)="verificarUsuarioCliente()" title="Solo debe ingresar letras y números" maxlength="40" minlength="5" [(ngModel)]="model.Usuario">
              <p id="Cliente"></p>
            </div>

            <div *ngIf="seEncuetraUsuario"  class="alert alert-danger">
              Este usuario ya se encuentra registrado en el sistema
            </div>

  
            <div *ngIf="userUser?.touched">
              <div *ngIf="userUser.errors?.required" class="alert alert-danger"> Este campo es requerido </div>
            </div>
  
            <div *ngIf="userUser?.dirty">
              <div *ngIf="userUser.errors?.pattern" class="alert alert-danger">
                Usuario no válido. Ingrese solo letras minúsculas y números.
              </div>
  
              <div *ngIf="!userUser.errors?.pattern && !userUser.errors?.required && userUser.errors?.minlength" class="alert alert-warning">
                El usuario debe contener mínimo 5 letras o números
              </div>
            </div>
  
            <div class="form-group">
              <label for="recipient-name" class="form-control-label">Contraseña:
              </label>
              <input type="password" class="form-control" #passUser="ngModel" ngModel id="Contraseña" placeholder="Ingrese Contraseña"
                name="pass" required title="Solo debe ingresar letras y números" pattern="[0-9a-zA-ZñÑ]*" minlength="5">
              <p id="Contraseña"></p>
            </div> -->

          <!-- <div *ngIf="passUser?.touched">
              <div *ngIf="passUser.errors?.required" class="alert alert-danger"> Este campo es requerido</div>
            </div>
  
            <div *ngIf="passUser?.dirty">
  
              <div *ngIf="passUser.errors?.pattern" class="alert alert-danger">
  
                Contraseña no valida. Ingrese solo letra y números
              </div>
  
              <div *ngIf="!passUser.errors?.pattern && !passUser.errors?.required && passUser.errors?.minlength" class="alert alert-warning">
  
                La contraseña no es segura
              </div>
            </div> -->

          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Fecha de nacimiento:</label>
            <input type="date" name="fecha" max="{{fechactual}}" #calUser="ngModel" ngModel id="calendar" [(ngModel)]="model.fecha_Nacimiento"
              (change)="onChangeFecha()" required>
            <p id="fecha"></p>
          </div>
          <div *ngIf="calUser?.dirty">
            <div *ngIf="mayor18 == false" class="alert alert-danger">
              La fecha ingresada no corresponde a una persona mayor de edad.
            </div>
          </div>
          
          <div *ngIf="calUser?.touched">
            <div *ngIf="calUser.errors?.required" class="alert alert-danger"> Este campo es requerido</div>
          </div>

          <div class="modal-footer">
            <button type="button" name="button" class="btn btn-info btn-lg" id="crearCliente" [disabled]="frm.invalid || seEncuetraCedula"
              data-toggle="modal" data-target="#Modal" (click)="insertarCliente()" data-dismiss="modal">Crear usuario</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="resetForm(frm)">Cerrar</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>


<div class="modal fade" id="Modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body text-center">
        <br><br> <h2 [ngStyle]="{'color': colorMen}">{{mensajeModal1}}</h2>
        <p>{{mensajeModal2}}</p>
      </div>
      <div class="modal-footer" style="justify-content: center">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="botonCredito" *ngIf="llave2"
        (click)="mostrarCreditos(model2.Cedula)">Ver creditos</button>
       
        <button type="button" class="btn btn-default" data-dismiss="modal" id="botonSolicitud" href="#Scredit" data-toggle="modal"
        (click)="nuevaSolicitud(frms)" *ngIf="llave2">Crear Nueva Solicitud</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" id="botonCerrar">Cerrar</button>
      </div>
    </div>

  </div>
</div>



<div class="modal fade" id="login" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">

        <img class="mb-4" src="assets/imagenes/login.png" alt="">
      </div>
      <div class="modal-body">
        <form #frml="ngForm" (ngSubmit)="Login(frml)">
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Usuario:
            </label>
            <input type="text" class="form-control" #userlUser="ngModel" ngModel id="crear2Usuario" placeholder="Ingrese Usuario" name="user"
              required pattern="[0-9a-zA-ZñÑ]*" title="Solo debe ingresar letras y números" minlength="5">
            <p id="Usuario"></p>
          </div>

          <div *ngIf="userlUser?.touched">
            <div *ngIf="userlUser.errors?.required" class="alert alert-danger"> Este campo es requerido</div>
          </div>

          <div *ngIf="userlUser?.dirty">

            <div *ngIf="userlUser.errors?.pattern" class="alert alert-danger">

              Usuario no válido. Ingrese solo letra y números
            </div>

            <div *ngIf="!userlUser.errors?.pattern && !userlUser.errors?.required && userlUser.errors?.minlength" class="alert alert-warning">

              El usuario debe contener mínimo 5 letras o números
            </div>
          </div>

          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Contraseña:
            </label>
            <input type="password" class="form-control" #passlUser="ngModel" ngModel id="Contraseña" placeholder="Ingrese Contraseña"
              name="pass" required title="Solo debe ingresar letras y números" pattern="[0-9a-zA-ZñÑ]*" minlength="5">
            <p id="Contraseña"></p>
          </div>

          <div *ngIf="passlUser?.touched">
            <div *ngIf="passlUser.errors?.required" class="alert alert-danger"> Este campo es requerido</div>
          </div>

          <div *ngIf="passlUser?.dirty">

            <div *ngIf="passlUser.errors?.pattern" class="alert alert-danger">

              Contraseña no válida. Ingrese solo letra y números
            </div>

            <div *ngIf="!passlUser.errors?.pattern && !passlUser.errors?.required && passlUser.errors?.minlength" class="alert alert-warning">

              La contraseña no es segura
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" [disabled]="frml.invalid" id="crearCiudad">Ingresar</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
        </form>
      </div>

    </div>
  </div>

</div>

<div class="modal fade" id="Scredit" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Solicitud de crédito</h4>
      </div>
      <div class="modal-body">
        <form #frms="ngForm" (ngSubmit)="login(frms)">
          
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Cédula
            </label>

            <input type="text" name="cedula2" class="form-control" #ced2User="ngModel" ngModel required id="cedula2" placeholder="Ingrese Cédula"
              pattern="[0-9]*" title="Solo debe ingresar números" minlength="6" [(ngModel)]="model2.Cedula" (blur)="verificarCedulaSolicitud()"
              (click)="seEncuentraCedulaSolicitud=true" maxlength="12" [disabled]="llave">

            <p id="cedula2"></p>
          </div>

          <div *ngIf="!seEncuentraCedulaSolicitud" class="alert alert-danger">
            Esta cédula no se encuentra registrada en el sistema
          </div>

          <div *ngIf="ced2User?.touched">
            <div *ngIf="ced2User.errors?.required" class="alert alert-danger">Este campo es requerido</div>
          </div>

          <div *ngIf="ced2User?.dirty">
            <div *ngIf="ced2User.errors?.pattern" class="alert alert-danger">
              Cédula no válida. Ingrese solo números
            </div>

            <div *ngIf="!ced2User.errors?.pattern && !ced2User.errors?.required && ced2User.errors?.minlength" class="alert alert-warning">
              Ingrese su cédula completa
            </div>
          </div>
          
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Empresa:
            </label>
            <input type="text" class="form-control" #EmpCli="ngModel" ngModel id="empresa" placeholder="Ingrese el nombre de la empresa"
              name="nombre_Empresa" required title="Nombre de la empresa" [(ngModel)]="model2.Empresa" pattern="[A-Za-zñÑáéíóúÁÉÍÓÚ ]*"
              maxlength="30" [disabled]="llave">
            <p id="NEmp"></p>
          </div>

          <div *ngIf="EmpCli?.touched">
            <div *ngIf="EmpCli.errors?.required" class="alert alert-danger"> Este campo es requerido</div>
          </div>

          <div *ngIf="EmpCli?.dirty">

            <div *ngIf="EmpCli.errors?.pattern" class="alert alert-danger">

              Nombre no válido. Ingrese solo letras
            </div>
          </div>
          
          <!-- inicio  campo del nit de la empresa -->
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Nit Empresa:
            </label>
            <input #NitCli="ngModel" type="serialnumber" [textMask]="{mask: mask, guide: false}"  class="form-control" ngModel 
            [(ngModel)]="model2.nit_Empresa" id="NIT" name="nit_Empresa" minlength="13" maxlength="14" title="Solo debe ingresar números" 
            required placeholder="Ingrese el nit de la empresa" [disabled]="llave">
          </div>

          <div *ngIf="NitCli?.touched">
            <div *ngIf="NitCli.errors?.required" class="alert alert-danger"> Este campo es requerido</div>
          </div>
          <div *ngIf="NitCli?.dirty">
              <div *ngIf="NitCli.errors?.minlength" class="alert alert-danger">
                  Ingrese el Nit completo
              </div>
            </div>
          
          <!-- fin campo del nit de la empresa -->

          <!-- inicio  validaciones del nit de la emprsa -->
          <!--
          <div *ngIf="NitCli0?.touched || NitCli1?.touched || NitCli2?.touched || NitCli3?.touched">
            <div *ngIf="NitCli0.errors?.required || NitCli1.errors?.required || NitCli2.errors?.required || NitCli3.errors?.required "
              class="alert alert-danger"> Este campo es requerido</div>
          </div>

          <div *ngIf="NitCli0.dirty || NitCli1.dirty || NitCli2.dirty || NitCli3.dirty">

            <div *ngIf="NitCli0.errors?.pattern || NitCli1.errors?.pattern || NitCli2.errors?.pattern || NitCli3.errors?.pattern" class="alert alert-danger">

              Nit no válido. Ingrese solo números
            </div>

            <div *ngIf="!NitCli0.errors?.pattern && !NitCli0.errors?.required && NitCli0.errors?.minlength || !NitCli1.errors?.pattern && !NitCli1.errors?.required && NitCli1.errors?.minlength || !NitCli2.errors?.pattern && !NitCli2.errors?.required && NitCli2.errors?.minlength || !NitCli3.errors?.pattern && !NitCli3.errors?.required && NitCli3.errors?.minlength"
              class="alert alert-warning">

              Ingrese el Nit completo
            </div>
          </div>
          -->

          <!-- fin validaciones nit empresa -->

          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Salario actual:
            </label>
            <input #moneyCli="ngModel" currencyMask ngModel type="text" class="form-control" id="money" placeholder="Ingrese salario (máximo de $ 99.999.999)"
              name="salario" required title="Solo debe ingresar números enteros y positivos" [(ngModel)]="model2.Salario" maxlength="12" 
              (blur)="salarioVacio()" (keyup)="salarioVacio()" [options]="{ prefix: '$ ', thousands: ',', precision: '0' }">
            <p id="money"></p>
          </div>

          <div *ngIf="!seEncuentraSalario" class="alert alert-danger">
            Este campo es requerido
          </div>

          <!-- 
          <div *ngIf="moneyCli?.touched">
            <div *ngIf="moneyCli.errors?.required" class="alert alert-danger"> Este campo es requerido</div>
          </div>
           -->
          <!--  
            <div *ngIf="moneyCli?.dirty">
              <div *ngIf="moneyCli.errors?.pattern" class="alert alert-danger">
  
                Salario no válido. Ingrese solo números enteros y positivos
              </div>
            </div>
            -->
            
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Fecha de ingreso a la empresa:</label>
            <input type="date" name="fecha" max="{{fechactual1}}" id="calendari" #dateCli="ngModel" ngModel required [(ngModel)]="model2.fecha_Ingreso">
            <p id="fecha"></p>
          </div>

          <div *ngIf="dateCli?.touched">
            <div *ngIf="dateCli.errors?.required" class="alert alert-danger"> Este campo es requerido</div>
          </div>

          <div class="modal-footer">
            <button type="button" data-target="#Modal" data-toggle="modal" class="btn btn-info btn-lg" class="btn btn-primary" data-dismiss="modal"
              id="realizarSolicitud" [disabled]="frms.invalid || !seEncuentraCedulaSolicitud || !seEncuentraSalario" (click)="insertarSolicitud()">Realizar Solicitud</button>

            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="resetForm(frms)">Cerrar</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

  <!-- listar usuarios -->
  <div class="modal fade" id="Lcredit" role="dialog">
    <div class="modal-dialog">
     <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Listar créditos</h4>
        </div>
        <div class="modal-body">
          <form #formcre="ngForm" (ngSubmit)="Login(formcre)">
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Ingrese cédula</label>
            <input type="text" name="cedula3" class="form-control" #ced3User="ngModel" ngModel required id="cedula3" placeholder="ingrese minimo 6 digitos del 0 al 9 y maximo 10"
              pattern="[0-9]*" title="Solo debe ingresar números" minlength="6" maxlength="10" [(ngModel)]="model3.Cedula" (blur)="verificarCedulaCredito()"
              (click)="seEncuentraCedulaCredito=true"> 
            <p id="cedula2"></p>
          </div>
          <!-- validaciones  -->       
          <div *ngIf="!seEncuentraCedulaCredito"  class="alert alert-danger">
            No se encuentra cedula
          </div>
          <div *ngIf="ced3User?.touched">
            <div *ngIf="ced3User.errors?.required" class="alert alert-danger">Este campo es requerido</div>
          </div>
          <div *ngIf="ced3User?.dirty">
            <div *ngIf="ced3User.errors?.pattern" class="alert alert-danger">
              Cedula no valida. Ingrese solo números
            </div>
            <div *ngIf="!ced3User.errors?.pattern && !ced3User.errors?.required && ced3User.errors?.minlength" class="alert alert-warning">
              Ingrese su cedula completa
            </div>
          </div>
            <div class="modal-footer">
              <button type="button" data-target="" data-toggle="modal" class="btn btn-info btn-lg" class="btn btn-primary" data-dismiss="modal" 

                id="listarCreditos" [disabled]="formcre.invalid || !seEncuentraCedulaCredito" (click)="mostrarCreditos(model3.Cedula)"  >Listar mis créditos</button>

  
              <button type="button" class="btn btn-default" data-dismiss="modal" (click)="resetForm(formcre)">Cerrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>