<nav class="navbar navbar-expand-md navbar-dark bg-dark ">
  <div class="container">
  <a class="navbar-brand" href="#">BancoMelo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cliente</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Creditos pendientes</a>
          <a class="dropdown-item" href="#">Creditos aprobados</a>

        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <div class="container">

          <button type="button" class="btn btn-primary my-2 my-sm-0" data-toggle="modal" data-target="#registro">Registrarse</button>
          <button class="btn btn-primary my-2 my-sm-0" type="button" data-toggle="modal" data-target="#login">Iniciar sesión</button>
      </div>


    </form>
  </div>
</div>

</nav>

<div class="modal fade" id="registro" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

          <img class="mb-4" src="assets/imagenes/crear.png" alt="" >
        </div>
        <div class="modal-body">
          <form>
				<div class="form-group">
					<label for="recipient-name" class="form-control-label">Nombre:
          </label> <input type="text" class="form-control" id="nombre" [(ngModel)]="model.Nombre" placeholder="ingrese nombre" name="nombre" required minlength="1" pattern="[A-Za-z]*" title="letras A-Za-z">
					<p id="Nombre"></p>
				</div>
				<div class="form-group">
					<label for="recipient-name" class="form-control-label">Apellido:
          </label> <input type="text" class="form-control" id="apellido" [(ngModel)]="model.Apellido" placeholder="ingrese apellido" name="apellido" required minlength="1" pattern="[A-Za-z]*" title="letras A-Za-z">
					<p id="Apellido"></p>
				</div>
				<div class="form-group">
					<label for="recipient-name" class="form-control-label">Cedula
          </label> <input type="text" class="form-control" id="cedula" [(ngModel)]="model.Cedula" placeholder="ingrese cedula" name="cedula" required minlength="1" pattern="[0-9]+" title="numeros de 0-9">
					<p id="cedula"></p>
				</div>
				<div class="form-group">
					<label for="recipient-name" class="form-control-label">Usuario:
          </label> <input type="text" class="form-control" id="usuario1s"[(ngModel)]="model.Usuario" placeholder="ingrese usuario" name="user" required minlength="1" pattern="[A-Za-z0-9]*" title="letras A-Za-z y numeros 0-9">
					<p id="Usuario"></p>
				</div>
				<div class="form-group">
					<label for="recipient-name" class="form-control-label">Contraseña:
          </label> <input type="password" class="form-control" id="Contraseña1" [(ngModel)]="model.Contrasena" placeholder="ingrese Contraseña" name="pass" required minlength="8" pattern="[A-Za-z0-9]*" title="letras A-Za-z y numeros 0-9">
					<p id="Contraseña"></p>
				</div>
				<div class="form-group">
					<label for="recipient-name" class="form-control-label">Fecha de nacimiento</label>
					<input type="date" name="fecha" max="2018-02-27" step="2" [(ngModel)]="model.fecha_Nacimiento">
					<p id="fecha"></p>
				</div>
				<button type="button" (click)="insertarCliente()" class="btn btn-primary" id="crearUsuario">Crear usuario</button>
			</form>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>

    </div>
  </div>
  </div>

  <div class="modal fade" id="login" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">

            <img class="mb-4" src="assets/imagenes/login.png" alt="">
          </div>
          <div class="modal-body">
            <form>
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Usuario:
              </label> <input type="text" class="form-control" id="usuario" placeholder="ingrese usuario" name="user" required minlength="1" pattern="[A-Za-z0-9]*" title="letras A-Za-z y numeros 0-9">
            <p id="Usuario"></p>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Contraseña:
              </label> <input type="password" class="form-control" id="Contraseña" placeholder="ingrese Contraseña" name="pass" required minlength="8" pattern="[A-Za-z0-9]*" title="letras A-Za-z y numeros 0-9">
            <p id="Contraseña"></p>
          </div>
          <button type="button" class="btn btn-primary" id="iniciar">ingresar</button>
        </form>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
        </div>

      </div>
    </div>

  </div>


  <br>
  <div class="container">
    <app-carousel></app-carousel>
  </div>
  <br>
  <div class="container">
    <app-marketing></app-marketing>
  </div>
