<div class="col-md-10 col-md-offset-1" *ngIf="ocultarTable">
  <h2>Lista de creditos aprobados</h2>
</div>
<div class="col-md-10 col-md-offset-1" *ngIf="ocultarTable"> 
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">fecha aprobado</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Cedula</th>
        <th scope="col">Cantidad</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let clienteC of creditoCliente">
        <td>{{clienteC.id_Solicitud}}</td>
        <td>{{clienteC.Nombre}}</td>
        <td>{{clienteC.Apellido}}</td>
        <td>{{clienteC.Cedula}}</td>
        <td>{{clienteC.Cantidad}}</td>
      </tr>
    </tbody>
  </table>
</div>