<div class="col-md-10 col-md-offset-1" *ngIf="ocultarTable">
  <h2>Lista de creditos aprobados</h2>
</div>
<div class="col-md-10 col-md-offset-1" *ngIf="ocultarTable"> 
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Id usuario</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Id solicitud</th>
        <th scope="col">Id prestamo</th>
        <th scope="col">Monto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Juan</td>
        <td>cardenas</td>
        <td>1</td>
        <td>1</td>
        <td>50000000</td>
      </tr>

    </tbody>
  </table>
</div>