<div class="container marketing">
<div class="container">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-6">
        <img class="rounded-circle" src="assets/imagenes/mision.png" alt="Generic placeholder image" width="140" height="140">
        
        <p>Fiduciaria BancoMelo S.A. es una entidad de servicios financieros que comercializa, gestiona y ofrece un amplio portafolio de productos fiduciarios, que generan valor a nuestros clientes,  accionistas y terceros relacionados, apoyados en un equipo humano idóneo y comprometido.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-6">
        <img class="rounded-circle" src="assets/imagenes/vision.png" alt="Generic placeholder image" width="140" height="140">
        
        <p>Ser reconocida como líder en el sector fiduciario en calidad del servicio y ofrecimiento de productos que agreguen valor a nuestros clientes; a través de procesos eficientes, seguros e innovadores, alineados con la cultura organizacional del Grupo Empresarial Bolívar.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      

    </div> 
    </div>